@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-helvetica-neue);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-left: 95px;
    padding-right: 95px;
  }
}

body {
  font-family: var(--font-sans);
}
